{% extends "base.html" %}

{% block content %}
<h1>About website</h1><br>
<p id="id_about_description">Welcome!<br><br>
This project was designed by Craig Langford to fulfil the final 
hackajob challenge. It utilizes the cookiecutter django template 
provided <a id="id_cookiecutter_link" 
    href="https://github.com/pydanny/cookiecutter-django">here</a>.
Furtheremore, the source code can be found on GitHub <a id="id_github_link"
    href="https://github.com/CraigLangford/Python-Mini-Projects/tree/master/Phone-Book/phonebook_project">here</a>.<br><br>Enjoy!
</p>{% endblock %}

